* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    padding: 10px;
    border-bottom: 2px solid rgb(112, 105, 105);
}

.logo {
    text-align: center;
    grid-column: 1 / span 12;
}

#imgLogo {
    width: 100px;
    height: auto;
}

.menu-items {
    grid-column: 3 / 11;
    display: flex;
    justify-content: space-around;
}

.menu-item {
    background-color: rgba(255, 255, 255, 0.8);
}

.menu-item a {
    text-decoration: none;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    color: gray;
}

.menu-item a:hover {
    text-decoration: none;
    color: crimson;
}

.main-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(1, 1fr);
}

.product-quality {
    grid-column: 2 / 5;
    padding-top: 200px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    font-family: sans-serif;
}

.product-quality h2 {
    font-family: Arial;
    grid-row: 1 / 2;
    color: rgb(218, 33, 33);
    
}

.product-quality p {
    font-family : Arial;
    grid-row: 2 /3;
    align-content: start;
}

.weldimage {
    grid-column: 5 / 9;
    /* grid-row: 1 / 3; */
    padding-top: 60px;
    display: flex;
    justify-content: space-around;
}

.weldimage img {
    width: auto;
    height: auto;
}

.service-quality {
    grid-column: 10 / 13;
    padding-top: 200px;
    display: grid;
    font-family: sans-serif;
}

.service-quality h2 {
    font-family: Arial;
    grid-row: 1 / 2;
    color: rgb(218, 33, 33);
}

.service-quality p {
    font-family: Arial;
    grid-row: 2 /4;
}